.background {
  min-height: 100vh;
  background-size: cover;
  background-position: center;
}

.overlay {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.12);
  backdrop-filter: blur(5px);
}

/*  横並び */
.main {
  flex: 1;
  display: flex;
  gap: 24px;
  padding: 24px;
}

/* 左 iframe */
.leftPane {
  flex: 1;
  min-width: 0;
}

/* 右 microCMS */
.rightPane {
  flex: 1;
  min-width: 0;
}

.serverTitle {
  text-align: center;
  color: rgb(0, 0, 0);

  font-size: 40px;
  font-weight: bold;
  margin-bottom: 12px;
}

.tableWrapper {
  background-color: white;
  border-radius: 12px;
  padding: 16px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.12);
}

.nav {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
}

.serverLink {
  color: white;
  font-size: 20px;
}
.serverLink:hover {
  color: rgb(65, 44, 255);
}

/* レスポンシブ */
@media (max-width: 1024px) {
  .main {
    flex-direction: column;
  }
}
