.serverBG {
  opacity: 0.7;
}
/* app/server/[serverNumber]/page.module.css */

.background {
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* 白オーバーレイ */
.overlay {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.4); /* ← 薄さ調整 */
  backdrop-filter: blur(4px);
}
