.button {
  padding: 50px 30px;
  border-radius: var(--border-radius);
  width: 350px;
  height: 50px;
  text-align: center;
  background-color: tan;
  color: black;
  border-radius: 10%;
  text-decoration: none;
}

.button:hover {
  color: rgb(0, 0, 207);
}
